body {
	display: flex;
	flex-direction: row;
}



#fancy-separator-container {
	grid-area: separator;

	display: flex;
	justify-content: center;
	align-items: center;
}



#fancy-separator {
	background-color: var(--text-color);

	width: 0.1rem;
	height: 100%;

	margin: 0 1rem;



	border-radius: 1rem;
}



#content {
	display: grid;

	grid-template-rows: auto 1fr auto;
	row-gap: 1.5rem;

	padding: 1rem 0;
}



#header {
	font-size: 2.5rem;
	margin: 0;

	font-family: Lato;
	font-weight: bold;
}



#wiring-closet-input {
	background-color: var(--theme-black-lighter);
	outline: none;

	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid transparent;

	transition: border-bottom-color 0.15s ease-in;

	color: var(--text-color);
	text-align: center;

	padding: 0.5rem;

	font: 1.2rem Roboto;

	width: 15rem;
	margin-bottom: 0.5rem;
	height: fit-content;
}



#wiring-closet-input:focus-within {
	border-bottom-color: var(--text-color);
}



#output {
	margin: 0;

	height: fit-content;
	width: fit-content;

	background-color: #000000;
	color: var(--text-color);

	padding: 1rem;

	border: none;
	outline: none;
	resize: none;

	white-space: pre;

	font: 1rem monospace;
}
