:root {
	--background-color: #212121;
	--container-color: #2c2c2c;
	--input-background: #424242;

	--active-tab: #0049b0;
	--inactive-tab: transparent;

	--text-color: #ffffff;
	--black: #000000;
}



body {
	background-color: var(--background-color);
}



#container {
	background-color: var(--container-color);
	border: 1px solid var(--black);
	box-shadow: 0 0 1rem 0.1rem var(--black);

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;

	padding: 2.5rem;
	border-radius: 1rem;

	width: 75vmax;
	aspect-ratio: 7 / 3;

	justify-content: space-around;
}



#input {
	background-color: var(--input-background);
	outline: none;

	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid transparent;

	transition: border-bottom 0.15s ease-in;

	color: var(--text-color);
	text-align: center;

	padding: 0.5rem;

	font: 120% Roboto;

	height: 10%;
}



#input:focus-within {
	border-bottom: 1px solid var(--text-color);
}



#output {
	height: 65%;

	background-color: var(--black);
	color: var(--text-color);

	padding: 1rem;

	border: none;
	outline: none;
	resize: none;

	white-space: nowrap;
	/* overflow-x: scroll; */
	/* overflow-y: hidden; */
}



/* #output::-webkit-scrollbar {
	background-color: #000;
	height: 12px;
}



#output::-webkit-scrollbar-thumb {
	background-color: #444;
	border-radius: 100rem;
} */
