#tab-bar {
	height: 10%;

	display: grid;
	grid-template-columns: 1fr 1fr;

	justify-items: center;
}



.tab {
	background-color: var(--inactive-tab);
	width: 90%;

	font: 1.5rem Lato;

	color: var(--text-color);

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}



.tab.tab-active {
	background-color: var(--active-tab);

	cursor: default;
}
