on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 16
    - run: npm i

    - name: Build and push
      uses: lanye74/action-build-typescript@master
      with:
        branch: "gh-pages"
        githubToken: ${{ secrets.GITHUB_TOKEN }}
